/* resets */

*,
*::before,
 ::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* variables */

:root {
    font-size: 16px;
    color: white;
    --mainGrey: #7E7E82;
    --mainBlue: #414158;
    --mainOrange: #EE9132;
    --secondaryOrange: #EFB172;
    --logoRed: #C34141;
    --cardsBorder: 7px;
    --navBorder: 8px;
    --gameContainerBorder: 19px;
    --asideContentBorder: 10px;
    --mainFont: 'Rhodium Libre', serif;
    --secondaryFont: 'Righteous', serif;
    --shadow: 5px 5px 17px black;
    --text-shadow: 2px 2px 8px black;
}

#navContainer {
    width: 100%;
    height: 60px;
    background-color: var(--mainGrey);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    box-shadow: var(--shadow);
}

.navItems {
    margin: 2rem;
    font-size: 1.1rem;
    text-shadow: var(--text-shadow);
    border-bottom-left-radius: var(--navBorder);
    border-bottom-right-radius: var(--navBorder);
}

#logoDiv {
    background-color: var(--mainBlue);
    width: 200px;
    height: inherit;
    position: relative;
    left: -32px;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: var(--navBorder);
}

#logoText {
    color: black;
    text-shadow: none;
}

#redCircle {
    background-color: var(--logoRed);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
}

#developer {
    margin-left: auto;
}

#mainContainerDiv {
    margin-left: 2rem;
}

.mainFont {
    font-family: var(--mainFont);
}

.secondaryFont {
    font-family: var(--secondaryFont);
}

#title {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 2rem;
    margin-left: 2rem;
    display: inline-block
}

.instructionsTitle {
    position: relative;
    top: -50px;
    left: 125px;
    font-size: 1.5rem;
    margin-right: 200px;
    white-space: nowrap;
}

#mainContainerDiv {
    width: 90%;
    height: 80vh;
    display: grid;
    grid-template-columns: [col-start]3fr [col-1] 1fr[col-end];
    grid-template-rows: [row-start]2fr [row-1] 1fr [row-end];
    grid-template-areas: "mainGame howTo" "mainGame advertisement";
    grid-gap: 30px;
}

#gameContainer,
#instructionsDiv,
#advertiseDiv {
    box-shadow: var(--shadow);
}

#gameContainer {
    grid-area: mainGame;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-1] 8fr [col-2] 1fr [col-end];
    grid-template-areas: "sideNav mainCards score";
    background-color: var(--mainBlue);
    border-bottom-right-radius: var(--gameContainerBorder);
    border-top-right-radius: var(--gameContainerBorder);
}

#instructionsDiv {
    grid-area: howTo;
    background-color: var(--mainGrey);
    border-radius: var(--asideContentBorder);
}

#advertiseDiv {
    grid-area: advertisement;
    background-color: var(--mainGrey);
    border-radius: var(--asideContentBorder);
}

#sideNav {
    width: 80px;
    height: 100%;
    grid-area: sideNav;
    background-color: var(--mainGrey);
}

#cardContainer {
    padding: 2rem;
    grid-area: mainCards;
    width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
}

#scoreContainer {
    padding: 9px;
    width: 120px;
    height: 100%;
    grid-area: score;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#scoreContainer div,
div span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.scoreItem {
    font-weight: bold;
    text-shadow: 3px 3px 8px black;
}

.cards {
    width: 150px;
    height: 250px;
    justify-content: space-between;
    background-color: var(--mainOrange);
    box-shadow: 10px 10px 18px black;
    border-radius: var(--cardsBorder);
    animation-name: comeInTrans;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.01, 1.39, .06, .91);
    animation-fill-mode: forwards;
}

#welcome {
    color: var(--mainOrange);
    font-size: 6rem;
    position: relative;
    left: 22rem;
    /* load animation  */
    animation: titleLoad 3s;
    animation-timing-function: cubic-bezier(1, -0.04, 0.58, 1);
}

@keyframes titleLoad {
    0% {
        display: none;
        opacity: 0;
        left: 2rem;
    }
    50% {
        display: block;
        opacity: .5;
    }
    100% {
        opacity: 1;
        left: 22rem;
        display: none;
    }
}

@keyframes comeInTrans {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1)
    }
}

@keyframes takeAwayTrans {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0)
    }
}

@keyframes resetTransition {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes resetTransition2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#pressStart {
    position: relative;
    top: 7rem;
    left: -28rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.7s;
    transition-timing-function: cubic-bezier(0.04, 0.75, 0.28, 1.04);
}

.asideDiv {
    padding: 15px;
}

.howToWinSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    margin-bottom: 1rem;
}

.toWinParagraph {
    margin-bottom: 3rem;
}

li {
    list-style: circle;
}

#rules {
    margin: 5px;
    line-height: 25px;
    margin: 15px;
}

#adver {
    text-align: center;
}

#start {
    border: none;
    width: 100%;
    height: 85px;
    background-color: var(--secondaryOrange);
}

.resetAnimation {
    animation-name: resetTransition;
    transition-property: transform;
}

#reset {
    border: none;
    width: 100%;
    height: 85px;
    background-color: var(--mainOrange);
}

#start,
#reset {
    font-size: 1rem;
    text-transform: uppercase;
}

#start,
#reset,
.cards,
.navItems {
    transition: 0.7s;
    transition-timing-function: cubic-bezier(0.04, 0.75, 0.28, 1.04);
    transition-delay: .2s;
}

#logoDiv,
.navItems,
button,
.cards {
    cursor: pointer;
}

#start:hover,
#reset:hover {
    width: 115%;
    height: 110px;
}

.cards:hover {
    width: 190px;
    height: 290px;
}

#pressStart:hover {
    font-size: 2rem;
}